* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #212832;
}



.head, .objective-wrapper, .result-title-wrapper {
    display: flex;
    justify-content: center;
    color: white;
}


.head {
    margin-top: 40px;

}


.objective-wrapper {
    margin-top: 30px;
    color: red;
}

.result-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform:translate(-50%,-50%);
}



.wrapper {
    display: flex;
    justify-content: center;
}


.left-side {
    position: relative;
    right: 200px;
}


.right-side {
    position: relative;
    left: 200px;
}


.player-details, .computer-details {
    display: flex;
    color: white;
    background-color: black ;
    width: 200px;
    padding: 20px;
    justify-content: center;
}



.player-score, .computer-score {
    position: relative;
    left: 30px;
    font-size: 30px;
    bottom: 7px;
}



.question-mark-wrapper {
    color: white;
    position: relative;
    left: 80px;
    margin-top: 30px;
    font-size: 130px;

}



.option-wrapper {
    display: flex;
    position: absolute;
    top: 85%;
    left: 50%;
    transform:translate(-50%,-50%);
}

.option-wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 10px;
}


.hidden {
    display: none;
}


.player-choice-wrapper, .computer-choice-wrapper {
    position: relative;
    top: 30px;
    left: 30px;
}




/* hidden*/

.player-choice, .computer-choice {
    height: 150px;
    width: 150px;
}

/* hidden */